psutil==5.7.0
numpy==1.19.5
pandas==1.0.3
tensorflow==2.4.1
transformers==4.3.2
nltk==3.5
tqdm==4.43.0
dataclasses==0.6
ekphrasis==0.5.1
neptune_client==0.9.8
Keras==2.3.1
activations==0.1.0
file_utils==0.0.1
GPUtil==1.4.0
scikit_learn==0.24.2
torch==1.9.0
